.navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 94, 87, 1);
  padding: 5px 0;
  align-items: center;
}
.usersHeading {
  margin: 10px 0;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  flex: 0.3;
}
.searchContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  border: 1px solid white;
  border-radius: 50px;
  padding: 0.2rem 0.5rem;
  background-color: white;
}
.searchContainer input {
  padding: 0.3rem 0.7rem;
  border: none;
  outline: none;
}
.searchContainer i {
  font-size: 1.2rem;
  margin: 0 10px 0 40px;
  background-color: white;
  color: rgba(255, 94, 87, 1);
  cursor: pointer;
}
